*{
    margin: 0;
    padding: 0;
}
html,body{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
       body{
        background-color: blueviolet;
       }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
       body{
        background-color: aquamarine;
       }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body{
        background-color: blue;
    }
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
       body{
        background-color: chartreuse;
       }
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
       body{
        background-color: orange;
       }
 }
