*{
    padding: 0%;
    margin: 0%;
}
html,body{
    font-size: 10%;
}
/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 
    body{
      background-color: darkblue;
      font-size: 18px;
   }
}
/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    html,body{
        font-size: 17px;
    }
 }
/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    html,body{
        font-size: 16px;
    }
}
/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    html,body{
        font-size: 15px;
    }
}
/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    html,body{
        font-size: 14px;
    }
 }