<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Team </title>

                <!-- Khai báo bootstrap -->
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
                <!-- khai báo css -->
                <link rel="stylesheet" href="../css/layout3.css">

                <!-- thư viện jquery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>





</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <img class="logo-page" src="../img/logo.jpg" alt="logo">
              <a class="navbar-brand" href="#"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item2">
                    <a class="nav-link active" aria-current="page" href="#">Why choose us</a>
                  </li>
                  <li class="nav-item2">
                    <a class="nav-link" href="#">Industries</a>
                  </li>
                  <li class="nav-item2">
                    <a class="nav-link" href="#">Work</a>
                  </li>
                  <li class="nav-item2">
                    <a class="nav-link" href="#">Our Team</a>
                  </li>
                  <li class="nav-item2">
                    <a class="nav-link" href="#">Contract</a>
                  </li>
                  
                  <li class="nav-item2">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Eng/Vn</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>  


    <section>

      <img class="nenteam" src="../img/our vision.jpg" alt="">

      <table>

        <tr>
          <th style="text-align: center;"><img class="nguyentuxanh" src="../img/nguyen tu xanh la.jpg" alt=""></th>

          <th style="text-align: center;"><img class="nguyentuncbien" src="../img/nguyen tu xanh nuoc bien.jpg" alt=""></th>

          <th style="text-align: center;"><img class="nguyentudo" src="../img/nguyen tu do.jpg" alt=""></th>
        </tr>

        <tr>
          <td align="lef">
            TVM Blockchain is accelerating the development of decentralised applications. We build and grow blockchain companies by   
            leveraging our network.
          </td>

          <td align="center">
            We joint venture with leading companies and domain experts to incubate innovative applications. These applications transform 
            business models and disrupt industries.
          </td>

          <td align="right">
            We joint venture with leading companies and domain experts innovative applications. These applications transform 
            business models and disrupt industries blockchain technology.
          </td>
        </tr>

  </table>
<br>
  <table>
    <tr>
      <td>
        <img class="diendan" src="../img/dien dan.jpg" alt="">
      </td>

      <td>
        <img class="nhom" src="../img/nhom nguoi.jpg" alt="">
      </td>

      <td>
        <img class="block" src="../img/block.jpg" alt="">
      </td>
    </tr>
  </table>
<br>

<h2>OUR PARTNERS</h2>
<p style="text-align:center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>



<div class="list-news d-flex w-60 mx-auto jus-between align-item-center">
    <div class="news-item w-30">
        <div class="news-img">
            <img src="../img/alan.jpg" alt="item">
        </div>
        <div class="news-content">
            <div class="news-title">

            </div>
            <div class="news-desc">
                

                
            </div>
        </div>
    </div>
    <div class="news-item w-30">
        <div class="news-img">
            <img src="../img/alan.jpg" alt="item">
        </div>
        <div class="news-content">
            <div class="news-title">
                
            </div>
            <div class="news-desc">
                
                
                
            </div>
        </div>
    </div>
    <div class="news-item w-30">
        <div class="news-img">
            <img src="../img/alan.jpg" alt="item">
        </div>
        <div class="news-content">
            <div class="news-title">
                
            </div>
            <div class="news-desc">
              
                
              
            </div>
        </div>
    </div>
    <div class="news-item w-30">
      <div class="news-img">
          <img src="../img/alan.jpg" alt="item">
      </div>
      <div class="news-content">
          <div class="news-title">
              
          </div>
          <div class="news-desc">
              
              
              
          </div>
      </div>
  </div>

</div>
<br>

<img class="chim" src="../img/chimtrang.jpg" alt="">

  </section>

  <footer>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <img class="logo-page" src="../img/logo.jpg" alt="logo">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item2">
                  <a class="nav-link active" aria-current="page" href="#">Why choose us</a>
                </li>
                <li class="nav-item2">
                  <a class="nav-link" href="#">Industries</a>
                </li>
                <li class="nav-item2">
                  <a class="nav-link" href="#">Work</a>
                </li>
                <li class="nav-item2">
                  <a class="nav-link" href="#">Our Team</a>
                </li>
                <li class="nav-item2">
                  <a class="nav-link" href="#">Contract</a>
                </li>
                
                <li class="nav-item2">
                  <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Eng/Vn</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
  </footer>



            <!-- khai báo js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>