*{
    margin: 0;
    padding: 0;
}
nav ul {
    display: flex;
    list-style: none;
    border: 1px solid black;
    margin: 1rem;
    background-color: aquamarine;
}
nav ul a {
    display: block;
    padding: .5rem 1rem ;
    text-decoration: none;
    border-right: 1px solid wheat;
}
nav ul a:hover{
    background-color: crimson;
    color: steelblue;
}