<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nội dung chi tiết bài viết</title>

    <!-- khai báo bootsrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css" integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- nhúng các file css của dev -->
    <link rel="stylesheet" href="../Css/layout.css">
    <link rel="stylesheet" href="../Css/content.css">

    <!-- nhúng thư viện jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>
    <!-- demo xây dựng thiết kế -->
    <!-- header page -->
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#"></a>
                  <img class="header-page-logo" src="../img/logo.png" alt="logo">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Gới thiệu</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Sản phẩm</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Tin tức</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Liên hệ</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </div>
    </header>
    <!-- end header -->

    <!-- end page -->

    <!-- end body -->


    <!-- footer  page -->

    <!-- end footer -->


    <!-- khai báo bootsrap js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js" integrity="sha512-EKWWs1ZcA2ZY9lbLISPz8aGR2+L7JVYqBAYTq5AXgBkSjRSuQEGqWx8R1zAX16KdXPaCjOCaKE8MCpU0wcHlHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- khai báo các file js của dev -->
    <link rel="stylesheet" href="../Js/content.js">
    <link rel="stylesheet" href="../Js/common.js">
</body>
</html>